html, body {
    height: 100%;
    width: 100%;
    background-color: #e1f2f7;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row{
    display: flex;
    justify-content: center;
}
.pixel{
    background-color: #1d63d4;
    width: 15px;
    height: 15px;
}

header, main, footer{
    flex-shrink: 0;
}

header, footer{
    display: flex;
    align-items: center;
    background-color: #646c79;
    color: white;
}
header{
    justify-content: center;
}
footer{
    padding: 15px 10px;
    justify-content: right;
}